/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Original+Surfer&display=swap');

/* NOTES TO REMEMBER */

/* 1. Cody Star is for Headers - set weight to 'regular 400' */
/* 2. Original Surfer is for regular text */
/* 3. Regular text is coloured #CAF0F8 */
/* 4. Titles are coloured with #FFC300 */

/* Global Styles */

.navbar {
  font-family: 'Original Surfer', serif;
  font-size: 16px;
  width: fit-content;
  margin: 0 auto;
  z-index: 1000;

}

.navbar a {
  text-decoration: none;
  color: #CAF0F8;
  margin: 0 5px;
  letter-spacing: 4px;
}

.navbar a {
  transition: color 0.5s ease !important;
}

.navbar a:hover {
  color: #FFC300 !important;
}

.navbar span {
  margin: 0 5px;
  color: #666;
}

.nav-item .current {
  text-decoration: underline;
  color: #FFC300 !important;
  
}

h1, h2, h3 {
  font-family: 'Codystar', serif;
}

/* Header */

.header {
    font-family: 'Codystar', Serif;
    width: fit-content;
    margin: 10px auto;
    color: #FFC300;
}

/* GAME AREA POP-UP */

/* Overlay container */
#howto_box {
  position: absolute;
  inset: 0;                 /* cover the game area */
  display: none;            /* hidden by default */
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: auto;
}

/* show it */
#howto_box.is-open { display: flex; }

/* Card */
#howto_box .howto-box {
  width: 85%;
  max-width: 900px;
  padding: 24px 28px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.88); /* slightly transparent */
  color: #001D3D;
  box-shadow: 0 12px 32px rgba(0,0,0,0.35);
  backdrop-filter: blur(2px);
  text-align: center;
}

#howto_box p {
  color: #001D3D;
}

#howto_box .howto-btn {
  margin-top: 16px;
  padding: 10px 16px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}


/* Game section */

.page_container {
    /* This centres the game-area section within the container. */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #001d3d;
    border-radius: 5%;
}

.doodle_star_1 {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 0;
  top: 20px;
  left: 10px;
}

.doodle_star_2 {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 0;
  left: 20px;
}

.doodle_star_3 {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 0;
  bottom: 20px;
  right: 30px;
}

.game_area {
  position: relative;  /* enables absolute positioning inside */
  border: 2px solid #FFC300;
  border-radius: 5%;
  width: 50%;
  height: 90%;
  background-color: black;
}

.space_bug {
  line-height: 0;
  position: absolute;
  width: 60px; 
  height: 60px
}

.space_bug img { 
  display: block; 
  width: 60px; 
  height: 60px; 
}

.platform {
  position: absolute;
  line-height: 0;
}

.platform img {
  width: 100px;
  height: 115px;
  filter: brightness(1);
  display: block; 
}

/* Adjusting the paragraphs in the game container to be positoned properly */

.game-paragraphs {
  width: 60%;
  display: flex;
  justify-content: center;
  padding-right: 20px;
  box-sizing: border-box;
}

.level-label {
  top: 10px;
  left: 10px;
  color: #CAF0F8;
  font-family: 'Original Surfer', serif;
  font-size: 1rem;
}

.distance-label {
  color: #CAF0F8;
  font-family: 'Original Surfer', serif;
  font-size: 1rem;
}

/* Instructions Page */

.text_sections_instructions {
  position: relative;
  border-radius: 5%;
  width: 60vh;
  height: 70vh;
  background-color: #000814;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

.controls_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
}

.text_sections_instructions strong {
  text-decoration: underline;
  color: #FFC300;
}

.can_you_survive p {
  font-family: 'Original Surfer', serif;
  font-size: larger;
  color: #FFC300;
  padding-top: 30px;
}

/* Instructions page stars */

.doodle_star_8 {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 20px;
  z-index: 0;
}

.doodle_star_9 {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 20px;
  z-index: 0;
}

.doodle_star_10 { /* Relative to body */
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 20px;
  z-index: 0;
}

.doodle_star_11 { /* Relative to body */
  position: absolute;
  width: 25px;
  height: 25px;
  left: 50px;
  bottom: 300px;
  z-index: 0;
}

/* Settings Page */

.text_section_settings {
  position: relative;
  border-radius: 5%;
  width: 60vh;
  height: 70vh;
  background-color: #001d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Stars for settings page */

.doodle_star_4 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  bottom: 10px;
  z-index: 0;
}

.doodle_star_5 {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 50px;
  top: 30px;
  z-index: 0;
}

.doodle_star_6 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 15px;
  top: 20px;
  z-index: 0;
}

.doodle_star_7 { /* Placed by the footer */
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  bottom: 20px;
  z-index: 0;
}

/* Music Toggle for settings page */

.switch_label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  font-family: 'Original Surfer', serif;
  color: #CAF0F8;
}

.switch_label input { /* Hides the checkbox */
  opacity: 0;
  width: 0;
  height: 0;
}

.slider { /* To style the main toggle bar */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 60px; 
  right: 0;
  bottom: 0;
  background-color: #CAF0F8;
  transition: 0.4s;
  border-radius: 34px; /* Creates a rounded bar */
  width: 30px;
  height: 20px;
}

.slider:before { /* Styles the moveable knob */
  content: ""; /* Says nothing inside, but creates a circle with styling below*/
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #001D3D;
  border-radius: 50%;
  transition: 0.4s;
}

/* Connecting the checkbox to the pan tag to effect the slider */
input:checked + .slider {
  background-color: #FFC300;
}

input:checked + .slider:before {
  transform: translateX(10px);
}

/* Difficulty Selector */

.difficulty_wrapper { /* Styling the content within the Div */
  display: flex;
  align-items: center;
  font-family: 'Original Surfer', serif;
  color: #CAF0F8;
  margin-bottom: 8px; /* Levels with the 'Music' toggle */
}

.difficulty_label {
  margin-right: 10px;
}

#difficulty_select {
  background-color: #001D3D;
  color: #CAF0F8;
  border: 1px solid #FFC300;
  border-radius: 10%;
  font-family: 'Original Surfer', serif;
  width: 120px;
  padding: 5px;
}


#difficulty_select option {
  background-color: #001D3D;
  color: #CAF0F8;
}

.toggle_wrapper, .difficulty_wrapper {
  padding: 70px;
}

/* Footer */

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

footer a {
    color: #CAF0F8;
    transition: color 0.5s ease !important;
}

footer a:hover {
  color: #FFC300 !important;
}

.footer_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 60vh;
}

.footer_settings p i {
    padding-left: 5px;
    padding-right: 5px;
}

/* Body */

body {
  position: relative;
  background-color: #001D3D;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Regular Text / Paragraphs */

p {
    color: #CAF0F8;
    font-family: 'Original Surfer', serif;
}

/* 404 PAGE */

#space_bug_404 {
  height: 5rem;
  width: 5rem;
  padding-top: 1rem;
}

.nf-wrap {
  min-height:100vh; 
  display:flex; 
  align-items:center; 
  justify-content:center; 
  text-align:center; 
  padding:2rem;
}

 .nf-card {
  max-width:640px;
}

.btn {
  display:inline-block; 
  padding:.75rem 1.25rem; 
  border-radius:9999px; 
  text-decoration:none; 
  border:1px solid currentColor;
}

p, a {
  color: #CAF0F8;
  font-family: 'Original Surfer', sans-serif;
  transition: 0.3s ease;
}

a:hover {
  color: #FFC300;
}

/* Media Query's */

@media screen and (max-width: 700px) { /* Max width, so everything below is using these adjustments */
    .game-paragraphs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-paragraphs p {
        text-align: center;
    }
}

@media screen and (max-width: 767px) { /* This puts the header and navbar next to each other on smaller screens */
    header {
      display: flex;
      flex-direction: row;
    }
}

@media (max-width: 767.98px) { /* When navbar turns into burger, it shows on the left */
  .navbar {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    justify-content: flex-start !important;
  }

  nav .justify-content-center {
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 400px) { /* Hides star below this size so looks neater */
  .doodle_star_10 {
    display: none;
  }
}

/* Adjusting for mobiles and small devices */

@media (max-width: 767px) {
  .space_bug {
  line-height: 0;
  position: absolute;
  width: 35px; 
  height: 35px
 }

.space_bug img { 
  display: block; 
  width: 35px; 
  height: auto; 
 }

 .platform img {
  width: 50px;
  height: auto;
  filter: brightness(1);
  display: block; 
 }

}
  