/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Original+Surfer&display=swap');

/* NOTES TO REMEMBER */

/* 1. Cody Star is for Headers - set weight to 'regular 400' */
/* 2. Original Surfer is for regular text */
/* 3. Regular text is coloured #CAF0F8 */
/* 4. Titles are coloured with #FFC300 */

/* Global Styles */

.navbar {
  font-family: 'Original Surfer', serif;
  font-size: 16px;
  width: fit-content;
  margin: 0 auto;
  z-index: 1000;

}

.navbar a {
  text-decoration: none;
  color: #CAF0F8;
  margin: 0 5px;
  letter-spacing: 4px;
}

.navbar a {
  transition: color 0.5s ease !important;
}

.navbar a:hover {
  color: #FFC300 !important;
}

.navbar span {
  margin: 0 5px;
  color: #666;
}

.nav-item .current {
  text-decoration: underline;
  color: #FFC300 !important;
  
}

/* Header */

.header {
    font-family: 'Codystar', Serif;
    width: fit-content;
    margin: 10px auto;
    color: #FFC300;
}

/* Game section */

.game-container {
    /* This centres the game-area section within the container. */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #001d3d;
    border-radius: 5%;
}

.doodle_star_1 {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 0;
  top: 20px;
}

.doodle_star_2 {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 0;
  left: 20px;
}

.doodle_star_3 {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 0;
  bottom: 20px;
  right: 30px;
}

.game-area {
  position: relative;              /* enables absolute positioning inside */
  border: 2px solid white;
  border-radius: 5%;
  width: 60%;
  height: 90%;
  background-color: #001d3d;
}

/* Adjusting the paragraphs in the game container to be positoned properly */

.game-paragraphs {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  box-sizing: border-box;
}

.level-label {
  top: 10px;
  left: 10px;
  color: #CAF0F8;
  font-family: 'Original Surfer', serif;
  font-size: 1rem;
}

.distance-label {
  color: #CAF0F8;
  font-family: 'Original Surfer', serif;
  font-size: 1rem;
}

/* Instructions Page */

.text_sections_instructions {
  border-radius: 5%;
  width: 60vh;
  height: 70vh;
  background-color: #001d3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Settings Page */

.text_section_settings {
  border-radius: 5%;
  width: 60vh;
  height: 70vh;
  background-color: #001d3d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Music Toggle */

.switch_label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  font-family: 'Original Surfer', serif;
  color: #CAF0F8;
}

.switch_label input { /* Hides the checkbox */
  opacity: 0;
  width: 0;
  height: 0;
}

.slider { /* To style the main toggle bar */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 60px; 
  right: 0;
  bottom: 0;
  background-color: #CAF0F8;
  transition: 0.4s;
  border-radius: 34px; /* Creates a rounded bar */
  width: 30px;
  height: 20px;
}

.slider:before { /* Styles the moveable knob */
  content: ""; /* Says nothing inside, but creates a circle with styling below*/
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #001D3D;
  border-radius: 50%;
  transition: 0.4s;
}

/* Connecting the checkbox to the pan tag to effect the slider */
input:checked + .slider {
  background-color: #FFC300;
}

input:checked + .slider:before {
  transform: translateX(10px);
}

/* Difficulty Selector */

.difficulty_wrapper { /* Styling the content within the Div */
  display: flex;
  align-items: center;
  font-family: 'Original Surfer', serif;
  color: #CAF0F8;
  margin-bottom: 8px; /* Levels with the 'Music' toggle */
}

.difficulty_label {
  margin-right: 10px;
}

#difficulty_select {
  background-color: #001D3D;
  color: #CAF0F8;
  border: 1px solid #FFC300;
  border-radius: 10%;
  font-family: 'Original Surfer', serif;
  width: 120px;
  padding: 5px;
}


#difficulty_select option {
  background-color: #001D3D;
  color: #CAF0F8;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

footer a {
    color: #CAF0F8;
    transition: color 0.5s ease !important;
}

footer a:hover {
  color: #FFC300 !important;
}

.footer_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    width: 60vh;
}

.footer_settings p i {
    padding-left: 5px;
    padding-right: 5px;
}

/* Body */

body {
    background-color: #001D3D;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Regular Text / Paragraphs */

p {
    color: #CAF0F8;
    font-family: 'Original Surfer', serif;
}

/* Media Query's */

@media screen and (max-width: 700px) { /* Max width, so everything below is using these adjustments */
    .game-paragraphs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-paragraphs p {
        text-align: center;
    }
}

/*@media screen and (max-width: 512px) {  POSSIBLY ADD EXTRA FOOTER SETTINGS */
  


@media screen and (max-width: 767px) { /* This hides the header when the screen is too small, only showing the burger */
    header {
      display: flex;
      flex-direction: row;
    }
}

@media (max-width: 767.98px) { /* When navbar turns into burger, it shows on the left */
  .navbar {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    justify-content: flex-start !important;
  }

  nav .justify-content-center {
    justify-content: flex-start !important;
  }
  

