/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&family=Original+Surfer&display=swap');

/* NOTES TO REMEMBER */

/* 1. Cody Star is for Headers - set weight to 'regular 400' */
/* 2. Original Surfer is for regular text */
/* 3. Regular text is coloured #CAF0F8 */
/* 4. Titles are coloured with #FFC300 */

/* Global Styles */

.navbar {
  font-family: 'Original Surfer', serif;
  font-size: 16px;
  width: fit-content;
  margin: 0 auto;
  z-index: 1000;

}

.navbar a {
  text-decoration: none;
  color: #CAF0F8;
  margin: 0 5px;
  letter-spacing: 4px;
}

.navbar a {
  transition: color 0.5s ease !important;
}

.navbar a:hover {
  color: #FFC300 !important;
}

.navbar span {
  margin: 0 5px;
  color: #666;
}

.header {
    font-family: 'Codystar', Serif;
    width: fit-content;
    margin: 10px auto;
    color: #FFC300;
}

/* Game section */

.game-container {
    /* This centres the game-area section within the container. */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #00b4d8;
    border-radius: 5%;
}

.doodle_star_1 {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1000;
  top: 20px;
}

.doodle_star_2 {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1000;
  left: 20px;
}

.doodle_star_3 {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 1000;
  bottom: 20px;
  right: 30px;
}

.game-area {
  position: relative;              /* enables absolute positioning inside */
  border: 2px solid white;
  border-radius: 5%;
  width: 60%;
  height: 90%;
  background-color: #001d3d;
}

/* Adjusting the paragraphs in the game container to be positoned properly */

.game-paragraphs {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  box-sizing: border-box;
}

.level-label {
  top: 10px;
  left: 10px;
  color: #CAF0F8;
  font-family: 'Original Surfer', serif;
  font-size: 1rem;
}

.distance-label {
  color: #CAF0F8;
  font-family: 'Original Surfer', serif;
  font-size: 1rem;
}

/* Footer */

footer {
    margin-top: auto;
}

footer a {
    color: #CAF0F8;
    transition: color 0.5s ease !important;
}

footer a:hover {
  color: #FFC300 !important;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.copyright p i {
    margin-left: 5px;
}

/* Body */

body {
    background-color: #001D3D;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Regular Text / Paragraphs */

p {
    color: #CAF0F8;
    font-family: 'Original Surfer', serif;
}

/* Media Query's */

@media screen and (max-width: 700px) { /* Max width, so everything below is using these adjustments */
    .game-paragraphs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-paragraphs p {
        text-align: center;
    }
}

@media screen and (max-width: 512px) {
    .copyright {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


@media screen and (max-width: 444px) { /* This hides the header when the scren is too small, only showing the burger */
    .header {
        display: none;
    }
}

@media (max-width: 767.98px) { /* When navbar turns into burger, it shows on the left */
  .navbar {
    display: flex;
    margin-left: 0;
    margin-right: auto;
    justify-content: flex-start !important;
  }

  nav .justify-content-center {
    justify-content: flex-start !important;
  }
  

